$def with (tplData)
</div><!-- main end -->
<footer id="footer">
    <p>2014 &copy;  <a href="$:tplData['webUrl']" >$:tplData['webName']</a> Powered By Webpy
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=39006491" charset="UTF-8"></script>
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb5fe4b24215f47881ca5f812b568f272' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<br/>
	Email:five3@163.com
    </p>
    <hr>
    <p>
    	<a href="http://www.chinadmoz.com.cn/" target="_blank" title="开放分类目录，收录各类优秀网站">开放分类目录</a>
	</p>
</footer>
</body>
</html>

