$def with (tplData)
</div><!-- main end -->
<footer id="footer">
    <p>2014 &copy;  <a href="$:tplData['webUrl']" >$:tplData['webName']</a> Powered By Webpy
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=39006491" charset="UTF-8"></script>
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb5fe4b24215f47881ca5f812b568f272' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<br/>
	Email:five3@163.com | 京ICP备12050610号-2
    </p>   
    <hr>
    <p id="sitesearch">    
    <script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=3070183968363558035') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
    </p>
    <p>
    	友链交换区
    </p>
</footer>
</body>
</html>

