$def with (tplData, name)
<div class="widget">
	<h2>$name <a href="">更多 &gt;</a></h2>
	<ul class="rightHotExp">
        <!-- listCurrent-->
            <li class="listItem">
                <a href="" class="smallPic" target="_blank" ><img src="http://p.zdmimg.com/201409/17/5418fe37dec99.png" alt="亚马逊kindle免费电子书优惠码" height="39" width="78" style="margin-top:20px"></a>
                <div class="listInfo">
                    <div class="itemName"><a href="" target="_blank" >亚马逊kindle免费电子书优惠码</a></div>
                    <span class="grey">已售: 4570 张</span>
                    <a href="" class="couponBtn" target="_blank" >购买</a>
                </div>
            </li>
            <li class="listItem">
                <a href="" class="smallPic" target="_blank" ><img src="http://p.zdmimg.com/201409/03/540699b76704f.jpg" alt="唯品会满300减30优惠券" height="39" width="78" style="margin-top:20px"></a>
                <div class="listInfo">
                    <div class="itemName"><a href=""  target="_blank"  _hover-ignore="1">唯品会满300减30优惠券</a></div>
                    <span class="grey">已售: 1014 张</span>
                    <a href="" class="couponBtn" target="_blank"  >购买</a>
                </div>
            </li>
        <!-- listCurrent end-->
    </ul>
</div>