<div>安装下面的【站长SEO助手】浏览器插件，可一键查看当前页的SEO综合信息。</div>
<div>
	<p style="height:40px;width:160px;line-height:40px;background:#eee; text-align:center;">
		<a href="javascript:(function(){var host=encodeURIComponent('http://'+location.hostname);window.open('http://seo.chinaz.com/?host='+host)})();">站长SEO助手</a>
	</p>
</div>
<br/>
<h2>具体安装方式为：</h2>
<div>1、鼠标移至图标上</div>
<div>2、左键不放并拖动鼠标至浏览器收藏栏</div>
<div>3、松开左键即可</div>
<br/>
<h2>安装后的效果为：</h2>
<div><img src="/static/upload/zhanzhangzhushou.png"></div>
<br/>
<h2>具体使用方法：</h2>
<div>1、打开任意页面</div>
<div>2、直接点击【站长SEO助手】</div>
<div>3、将会自动打开该页面的seo综合查询页</div>
<br/>
<h2>支持的浏览器：</h2>
<div>目前支持chrome、360、ff</div>