$def with (tplData)
$:tplData['render'].header()
<form action="$makeUrl('cms','save')" method="post">
    <table width="100%" border="0" cellspacing="0" cellpadding="1" class="addtable">
        <tr>
            <td width="100" scope="col">标题:</td>
            <td width="608" scope="col"><input name="name" type="text" id="name" value="" /></td>
        </tr>
        <tr>
            <td width="100" scope="col">关键字:</td>
            <td width="608" scope="col"><input name="keywords" type="text" id="keywords" value="" /></td>
        </tr>
        <tr>
            <td width="100" scope="col">文章摘要:</td>
            <td width="608" scope="col"><textarea style="width:800px; height:60px;" name="description"  id="description" ></textarea></td>
        </tr> 
        <tr>
            <td width="100" scope="col">预览图片:</td>
            <td width="608" scope="col"><input name="preview_image_src" type="text" id="preview_image_src" value="" /></td>
        </tr> 
        <tr>
            <td width="100" scope="col">直购链接:</td>
            <td width="608" scope="col"><input name="direct_buy_url" type="text" id="direct_buy_url" value="" /></td>
        </tr> 
        <tr>
            <td colspan="2" scope="col">
                <textarea rows="10" cols="5" name="content" id="content"></textarea>
			    <script type="text/javascript" src="$makeUrl('static','admin/editor/tinyeditor.js')"></script>
			    <link rel="stylesheet" href="$makeUrl('static','admin/editor/style.css')" />
			    <script type="text/javascript">
			        var instance=new TINY.editor.edit('editor',{
			            id:'content',
			            width:1070,
			            height:350,
			            cssclass:'contentls',
			            controlclass:'tecontrol',
			            rowclass:'teheader',
			            dividerclass:'tedivider',
			            controls:['bold','italic','underline','strikethrough','|','subscript','superscript','|', 'orderedlist','unorderedlist','|','outdent','indent','|','leftalign',
			                'centeralign','rightalign','blockjustify','|','unformat','|','undo','redo','print','n',
			                'font','size','style','forecolor','backcolor','|','image','swf','media','upload','|','hr','link','unlink','|','cut','copy','paste'],
			            footer:true,
			            fonts:['楷体','宋体','黑体','Verdana','Arial','Georgia'],
			            xhtml:true,
			            uploadexc:"$makeUrl('upload','index',{})",
			            bodyid:'editor',
			            footerclass:'tefooter',
			            toggle:{text:'源码',activetext:'视图',cssclass:'toggle'},
			            resize:{cssclass:'resize'}
			        });
			    </script>
            </td>
        </tr>
        <tr>
            <td width="100" scope="col"><b style="color:#ff0000;">SEO规则说明:</b></td>
            <td width="608" scope="col"></td>
        </tr>
        <tr>
            <td colspan="2" scope="col">
            	<ol style="color:#ff0000;">
            		<li>1、H标签正确使用</li>
            		<li>2、段落剪短</li>
            		<li>3、重点关键字要加重字体</li>
            		<li>4、为可添加链接的关键字添加链接</li>
            		<li>5、适当配图说明，图片添加alt提示</li>
            		<li>6、添加提示转载说明</li>
            	</ol>
			</td>
        </tr>
        <tr>
            <td width="100" scope="col">排序:</td>
            <td width="608" scope="col"><input name="orders" type="text" id="orders" value="0" /></td>
        </tr>
        <tr>
            <td scope="col">状态:</td>
            <td scope="col">
                <SELECT  name="status" id="status">
                $for k,v in tplData['statusList'].items():
                    <option value="$:k"
                    $if k == 1:
                        selected="selected"
                    >$:v</option>
            </SELECT>
        </tr>
        <tr>
            <td scope="col">分类:</td>
            <td scope="col">
                <SELECT  name="category" id="category">
                    $for k,v in tplData['categoryList'].items():
                    <option value="$:k"
                    $if k == 1:
                        selected="selected"
                    >$:v</option>
                </SELECT>
        </tr>
        <tr>
            <td scope="col">标签:</td>
            <td scope="col">
            	<input name="tags" id="tags" value="" />
        </tr>
        <tr>
            <td colspan="2" scope="col"><input type="submit" name="submit" value="保存" id="submits" onmouseover="instance.post();" /></td>
        </tr>
</form>
$:tplData['render'].footer()