body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea {margin: 0; padding: 0; }
header,footer,article,section,nav,menu,hgroup {display:block;}
body {font-family:"Hiragino Sans GB","Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif; line-height:1.6; font-size:16px;}
h1,h2,h3 {font-weight:400;}
h1,h2 {font-size:24px;}
h3 {font-size:18px;}
img {border:none;}
a img:hover {background:none; border:none;}
a {color:#5188a6; text-decoration:none;}
a:hover {text-decoration:none; cursor: pointer; color: #5188a6;}
ol,ul {list-style:none;}
p {margin-bottom:20px;}
input,textarea,button {outline:none;}
input[type^="text"],input[type^="password"],textarea {box-shadow:inset 2px 3px 5px #eee; border:1px solid #bbb; background:#fff;}
input:focus,textarea:focus {background:#fff; border-color:#999;}
input {vertical-align:middle;}
input[type^="radio"] {border:none; background:none; width:auto;}
::selection {color:#fff; background:#444; text-shadow:none;}
code {background:#EFEBEB; border-left:3px dashed rgb(230,230,230); padding:10px 10px 10px 13px; font:16px/1.5 "Hiragino Sans GB",Tahoma,Helvetica,Arial; display:block;}
#wrap,#footer_box {background:#fff; width:700px; padding:20px 10px; float:left;}
#content {overflow:hidden; color:#555; clear:both;}
#header {margin-top: 30px; background: #fff; height:auto; width:100%; background-size: cover;}
#logo {margin:20px auto 10px;}
#logo a {color:#000;}
#header h2 {font-size:14px;}
#toolbar {height:30px; font-size:20px; margin:0px auto; width:250px; float: right; }
#searchform {background:#fafafa; border:1px solid #ccc; margin-top: 2px; border-radius: 3px; border: 1px solid #dcdcdc; padding:3px 5px; height:16px; float:right; }
#searchform label {display:none;}
#searchform input {border:none; background:none; box-shadow:none; width:150px; height:20px; line-height:20px; vertical-align:top;}
#searchform button {background:url(search.png) no-repeat; width:25px; height:25px; text-indent:-999px; vertical-align:top; border:none; cursor:pointer; margin-left:-5px; font-size:0;}
#searchform button:hover {background:url(search_hover.png) no-repeat;}
#rss {margin-left:8px; margin-top:4px; display: inline-block; }
#rss a {background:url(rss.png) no-repeat; width:16px; height:16px; overflow:hidden;display:block; text-indent:-999px;}
#menu {overflow:hidden; width:100%; background-color: #333; color: #ccc;position: fixed; top: 0; left: 0; z-index: 100; -webkit-transform: translate3d(0,0,0);}
#menu li {float:left; margin-right:18px;}
#menu a {display:block; text-decoration:none; color:#999;}
#menu a:hover {color:#5f767f;}
#menu .current-menu-item a,#menu .current-menu-parent a, .nav-link {color:#ccc; font-size:18px; line-height:30px;}
#menu li ul {display:none;}
#post_list section {border-bottom:1px dashed #bbb; margin-bottom:20px;}
.meta {font-size:18px; margin:20px 0; color:#999; display:block; clear:both;}
#post_content {padding-top:10px;}
.post,.page {font-size:18px;letter-spacing:1px;}
.page h1 {margin-bottom:20px;}
.post {margin-bottom:20px; border-bottom:1px dashed #bbb;}
.post h2 {font-size:25px; margin-bottom:15px;}
.post ul,.post ol {list-style-position:inside; margin-left:20px; margin-bottom:15px;}
.post ul {list-style-type:disc;}
.post ol {list-style-type:decimal;}
.post li {font-size:14px; margin-bottom:5px;}
.post img {max-width:100%;}
.post input {height:22px; line-height:22px;}
.post del {color:#999;}
blockquote {border:1px dashed #ccc; border-radius:5px; background:#fafafa; padding:10px; margin:10px 0; font-size:14px;}
blockquote p {margin-bottom:10px;}
blockquote p:last-child {margin-bottom:0;}
.wp-caption {border-radius:3px; border:1px solid #ccc; background:#f9f9f9; box-shadow:1px 1px 2px #d3d3d3; margin-bottom:10px; text-align:center; padding:4px 0;}
.post .wp-caption img {max-width:630px;}
.wp-caption-text,.gallery-caption {text-align:center; font-size:12px; margin-bottom:0;}
.navigation {height:20px; line-height:20px; font-size:12px;}
.navigation a {color:#666;}
#nopage {text-align:center; padding:180px 0 100px; background:url(404.png) no-repeat center 70px;}
#comments {margin-top:30px; font-size:16px;}
#comments h3 {border-bottom:1px solid #ddd; padding-bottom:5px;}
#comments .navigation {margin-top:10px;}
.comment-form-comment label {display:none;}
.comment_list {border-top:1px solid #fff; margin-bottom:20px;}
.comment-author {float:left; line-height:24px; height:24px; font-size:12px; margin-bottom:10px;}
.comment-meta {float:right; font-size:12px;}
.comment-meta a {color:#999;}
.says {display:none;}
#respond {margin-top:10px;}
#respond textarea {width:97%; padding:1%;}
.comment_list li #respond {margin-left:30px;}
#commentform {border-top:1px solid #f9f9f9; padding-top:10px;}
#commentform input {width:230px; padding:5px; display:block;}
#comments input,#comments textarea,#comments button {border-radius:3px;}
#submit {padding:5px 10px; cursor:pointer; font-size:20px; border:1px solid #428bca; background:#428bca; color:#fff; }
#submit:hover {color:#555; text-shadow:1px 1px #fff; border:1px solid #ccc; background:#f1f1f1; background:-moz-linear-gradient(top, #fff, #f1f1f1); background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#eee));}
.reply {padding-bottom:10px; font-size:12px;}
.comment_list li {border-bottom:1px dashed #ccc; padding:10px 5px 0;}
.comment_list li li {border-bottom:none; border-top:1px dashed #ccc; padding-top:10px;}
.comment_list li p {clear:both; margin-bottom:5px;}
.children li {padding-left:20px;}
.bypostauthor {background:#fff6ed;}
.thread-odd {background:#eee;}
.comment-form-author,.comment-form-email,.comment-form-url {float:left; width:265px;}
.comment-notes {font-size:18px;}
.form-allowed-tags {display:none;}
#footer_box {font-size:12px;}
#linkcat a {margin-right:10px; color:#666;}
#sponsor {margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #ccc;}
#footer {margin-bottom:30px; text-align:center; font-size:14px; color:#5d6673; text-shadow:0px 0px #000; width:1080px; margin:5px auto; clear:both;}
#footer a {color:#5d6673;}
.aligncenter {display:block; margin-left:auto; margin-right:auto;}
.alignleft {float:left;}
.alignright {float:right;}
.post .alignleft,.post .alignleft {margin-right:10px; display:inline;}
.adbanner {text-align:center;}
#antiarea{display:block;}
#antirbt{width:60px !important;display:inline !important;text-align:center;}
#digit{ text-align:center; height:55; line-height:55px;}
#digit span{ font-size:30px; font-weight:bold; padding:0px 5px;}
#digit a{ padding:10px 10px;background:#FFFFCC; border:solid 2px #CCCCCC;border-radius: 5px;}
#digit a:hover{background:#FFFFEC; text-decoration:none;}
.alertBox{width: 600px; word-wrap: break-word; margin: 20px auto; border: #FD8A08 4px solid; text-align: center; padding: 20px 4px;background:#F3F1EB;border-radius: 0.5em;}
#main{width:1080px; margin:0 auto;}
#side{width:300px; padding: 20px 10px; float:left;}
.widget {margin-bottom: 35px;}
.widget  h2 a, .rfloat {display: block; float: right; font-size: 12px; color: #5188a6; font-weight: normal; font-family: "SimSun";}
.listItem {padding-top: 5px; height: 25px; overflow: hidden;}
.listItem .smallPic, .listItem span.grey, .listItem .listBot, .listItem .couponBtn { display: none;}
.listItem .listInfo .itemName a { font-size: 16px; color: #666; height: 25px; display: block; width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.itemName { font-weight: normal; font-size: 16px; }
.widget a:hover { text-decoration:none; cursor: pointer; color: #5188a6; }
.listCurrent {padding-top: 16px; height: 80px; overflow: hidden;}
.listCurrent .listInfo { width: 200px; float: right; font-size: 14px; line-height: 20px; position: relative; height: 80px; }
.listCurrent .couponBtn {display: block;  width: 33px;  height: 18px;  text-align: center;  line-height: 18px;  position: absolute;  right: 0;  bottom: 0;  background-color: #f04848;  border: 1px solid #f04848;  color: #fff;  -webkit-border-radius: 2px;  -moz-border-radius: 2px;  -ms-border-radius: 2px;  -o-border-radius: 2px;  border-radius: 2px; }
.grey { color: #999; }
.listCurrent .smallPic { float: left; display: block; width: 78px; height: 77px; border: 1px solid #dcdcdc; text-align: center; }
.clear {clear: both; }
.withImg .previewImg { width: 190px; height: 190px; float: left; margin-right: 20px; text-align: center; display: block; overflow: hidden; }
.withImg .previewText { width: 490px; height: 190px; float: left; }
.withNoImg .previewImg { width: 190px; height: 190px; float: left; margin-right: 20px; text-align: center; display: none; overflow: hidden; }
.rightButtom {display: block;  width: 110px; float: right; margin: 30px 10px 0 0; height: 25px;  text-align: center;  line-height: 25px;  background-color: #f04848;  border: 1px solid #f04848;  color: #fff;  -webkit-border-radius: 2px;  -moz-border-radius: 2px;  -ms-border-radius: 2px;  -o-border-radius: 2px;  border-radius: 2px; }
.blackhref { color:#000; text-decoration:none; }
a.rightButtom:hover { color:#000; }
.nav { width:1080px; margin:0px auto;  }
#leftside { width:200px; padding: 20px 10px; float:left; }
.xx-detail {
padding-top: 20px;
width: 1080px;
margin: 0px auto;
}
.lay-search {
width: 350px;
background: url(/static/xiaoxiang/search.png) no-repeat;
overflow: hidden;
}
.lay-search .textinput {
padding-left: 20px;
height: 30px;
line-height: normal;
line-height: 30px\9;
border: 0;
outline: none;
background: none;
width: 90%;
float: left;
margin: 3px 0 0 3px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
box-shadow: inset 2px 3px 5px #fff;
}
.lay-search .search-button {
float: right;
cursor: pointer;
width: 40px;
height: 36px;
margin-left: -40px;
border: 0;
overflow: hidden;
text-indent: -999em;
background: url(/static/xiaoxiang/search.png) right 0 no-repeat;
}
.search-tab {
padding-top: 5px;
}
.header-mid {
margin-right: 55px;
}
.search-tab a, .search-tab a:hover, .search-tab a:visited, .search-tab a:active {
padding-left: 20px;
text-decoration: none;
color: #000;
}
#menu .nav-link {color:#ccc;}
.search-tab 