$def with (tplData)
</div><!-- main end -->
<footer id="footer">
    <p>2014 &copy;  <a href="$:tplData['webUrl']" >$:tplData['webName']</a> Powered By Webpy
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=39252306" charset="UTF-8"></script>
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6e885bd4f0e5a298ac00decbfa09f92f' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<br/>
	Email:five3@163.com | 京ICP备12050610号-4
    </p>
    <hr>
    <p>
    	友链交换区
    </p>
</footer>
</body>
</html>

